#gasGraphContainer{
    /* position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    background-color: black; */
    width: 700px;
    height: fit-content;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 25px;
    position: relative;
    left: 150px;
}
#co2GraphContainer{
    width: 700px;
    height: fit-content;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 25px;
    position: relative;
    bottom: 500px;
    left: 950px;
}
.container{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
