#container{
    height: 100%;
    width: 100%;
}
#tripBox{
    position: relative;
    top: 10%;
    background-color: white;
    width: 800px;
    left: 24%;
    height: 500px;
    border-radius: 25px;
    background-color: #E9DAC4;

}
#tripBoxTitle{
    position: relative;
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    padding-right: 30px;
}
#tripTypeSelection{
    width: fit-content;
    height: fit-content;
    font-size: 18px;
}
#dropdown-basic-button{
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    background-color: white;
}
#tripOrigin{
    position: relative;
    left: 95px;
    top: 250px;
    border-radius: 25px;
    font-size: 18px;
    width: 250px;
    padding-left: 30px;
    padding-top: 2px;
}
#tripDestination{
    border-radius: 25px;
    position: relative;
    left: 415px;
    top: 200px;
    width: 250px;
    font-size: 18px;
    padding-left: 30px;
    padding-top: -5px;
}
#submitButton{
    position: relative;
    top: 220px;
    left: 320px;
  }
.input-icons i {
    position: relative;
    left: 440px;
    top: 200px;
    z-index: 9;
}
.originIcon i {
    position: relative;
    left: 120px;
    top: 250px;
    z-index: 9;
}
.originIcon{
    width: 100%;
    margin-bottom: 10px;
    
}
.input-icons {
    width: 100%;
    margin-bottom: 10px;
    
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
#tripAnimation{
    left: 230px;
    position: absolute;
    width: 300px;
    border-radius: 25px;

}
