.container {
    height: 100%;
    position: relative;
  }
#driverSection{
  position: absolute;
  width: 500px;
  height: 500px;
  top: 30%;
  left: 10%;
  bottom: 50%;
  border-radius: 25px;
  background-color: #E9DAC4;
}
#riderSection{
  position: absolute;
  width: 500px;
  height: 500px;
  top: 30%;
  left: 55%;
  bottom: 50%;
  border-radius: 25px;
  background-color: #E9DAC4;
}
#driverButton{
  position: absolute;
  bottom: 5%;
  left: 170px;
  visibility: hidden;
}
#riderButton{
  position: absolute;
  bottom: 5%;
  left: 180px;
  visibility: hidden;
}
#driverInfo{
  position: absolute;
  bottom: 400px;
  left: 120px;
  font-size: 25px;
  visibility: hidden;
}
#riderInfo{
  position: absolute;
  bottom: 400px;
  left: 240px;
  visibility: hidden;
}
#driverDescription{
  position: absolute;
  width: 400px;
  padding-right: 70px;
  right: -200px;
}
#riderDescription{
  position: absolute;
  width: 400px;
  padding-right: 70px;
  right: -200px;
}

#welcomeHeader{
  text-align: center;
  font-size: 55px;
  visibility: hidden;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background: rgba(204, 204, 204, 0.5);
  width: 700px;
  height: fit-content;
  margin-top: 20px;
  margin-left: 400px;
  bottom: 100px;
}
#driverListContainer{
  font-size: 30px;
  width: fit-content;
  /* text-align: left; */
  /* background-color: white;
  padding-top: 25px;
  padding-right: 150px; */
  left: 30%;
  position: relative;
  bottom: 80px;
}
#animatedCar{
  width: 460px;
  height: fit-content;
  border-radius: 25px;
}
#riderListContainer{
  font-size: 30px;
  width: 100%;
  text-align: left;
  /* background-color: white;
  padding-top: 25px;
  padding-right: 150px; */
  left: -38%;
  position: relative;
  

}
#riderTitle{
  font-size: 40px;
  /* text-align: center; */
  /* padding-bottom: 30px; */
  font-weight: 400;
  text-align: left;
  position: relative;
  width: fit-content;
  height: fit-content;
  left: 90px;
  padding-bottom: 30px;
  bottom: 90px;

}
#startDrivingLabel{
  font-size: 40px;
  position: relative;
  font-weight: 400;
  width: 500px;
  height: fit-content;
  left: 38%;
  padding-left: 20px;
  bottom: 90px;
}
#riderAnimation{
  border-radius: 25px;
  width: 460px;
  background-color: white;
  position: relative;
  left: 107px;
  bottom: 80px;
  height: 345px;
}