.container {
    height: 100%;
    position: relative;
  }
#driverSection{
  position: absolute;
  width: 500px;
  height: 500px;
  top: 30%;
  left: 15%;
  bottom: 50%;
  border-radius: 25px;
  background-color: #E9DAC4;
  font-family:monospace;
}
#riderSection{
  position: absolute;
  width: 500px;
  height: 500px;
  top: 30%;
  left: 55%;
  bottom: 50%;
  border-radius: 25px;
  background-color: #E9DAC4;
  font-family:monospace;
}
#driverButton{
  position: absolute;
  bottom: 5%;
  left: 190px;
  visibility: hidden;
}
#riderButton{
  position: absolute;
  bottom: 5%;
  left: 190px;
  visibility: hidden;
}
#driverInfo{
  position: absolute;
  bottom: 400px;
  left: 100px;
  font-size: 25px;
  visibility: hidden;
}
#riderInfo{
  position: absolute;
  bottom: 400px;
  left: 200px;
  visibility: hidden;
}
#driverDescription{
  position: absolute;
  width: 400px;
  padding-right: 70px;
  right: -200px;
}
#riderDescription{
  position: absolute;
  width: 400px;
  padding-right: 70px;
  right: -200px;
}

#welcomeHeader{
  text-align: center;
  padding-top: 30px;
  font-size: 55px;
  visibility: hidden;
  font-weight: bold;
  font-family: monospace;
  border-radius: 25px;
  background-color: #E9DAC4;
  width: 700px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: 400px;
}
#driverListContainer{
  font-size: 30px;
  width: 100%;
  text-align: left;
  /* background-color: white;
  padding-top: 25px;
  padding-right: 150px; */
  left: -50%;
  position: absolute;
}
#riderListContainer{
  font-size: 30px;
  width: 100%;
  text-align: left;
  /* background-color: white;
  padding-top: 25px;
  padding-right: 150px; */
  left: -38%;
  position: absolute;

}
#riderTitle{
  font-size: 55px;
  /* text-align: center; */
  padding-bottom: 30px;
  background-color: white;
  margin-right: 20px;
  font-weight: bold;
}
#driverTitle{
  font-size: 55px;
  padding-left: 90px;
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
  background-color: white;
  padding-right: 50px;
}
#animatedTest{
  width: 100%;
  /* background-image: "swoop/src/components/images/SwoopLoginBackground.jpg"; */
}